env_template
/.claude
/.codex
/log
/results
/runs
/.openhands
/.vscode
/*/.env
.env
/log_agentflow
/runs_agentflow
/log_deprecated
/runs_deprecated
/search_tree
/*/__pycache__/
/search_tree_old
/vanilla_runs
*.pyc